<div id="Allied-Health" class="tab-div">
    <div class="full-column">

        <div class="block">
            <label>
                <h3>Allied Health Professional</h3>
            </label>
        </div>

    </div>
    <% include save_section.ejs %>
</div>