<!DOCTYPE html>
<html lang="en-GB">

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/header %>
    <iframe width="100%" height="100%"
        src="http://ydh-powerbi/ReportServer/Pages/ReportViewer.aspx?/test%20Folder/DischargeDetail&rs:command=render&Parm1_id=<%=id%>&Parm1_version=<%=version%>&rs:embed=true"
        frameborder="0"></iframe>
    <% include ../partials/footer %>
</body>

</html>