/**
 * footer.css
 *
 * Styles for the footer across all pages.
 */

.footer, .page-wrap:after {
    min-height: 50px;
    height: auto;
}

.footer {
    color: #fff;
    background-color: #333;
    width: 100%;
    margin-top: 0px;
}

.footer-div {
    padding-top: 20px;
    text-align: right;
}

.footer-unordered-list {
    list-style: none;
}

.footer-list-item {
    padding-left: 10px;
    display: inline-block;
}

.footer-list-item-1 {
    padding-right: 10px;
}

.footer-list-item-2 {
    padding-right: 25px;
}