/**
 * form.css
 *
 * Styles for the entire form and inputs on the discharge_summary page.
 */

div.block {
	overflow: hidden;
	padding: 10px;
}

div.block label {
	width: 40%;
	display: block;
	float: left;
	text-align: right;
}

div.block .input {
	width: 50%;
	margin-left: 4px;
	float: left;
}

div.block .binaryinput {
	width: 10%;
	margin-left: 4px;
	float: left;
}

.form-block {
	margin: 20px;
	padding: 20px;
	color: white;
	background-color: lightblue;
}

.collapsible-div .form-block {
	background-color: #777;
}

#Follow-Up .form-block {
	background-color: #f59409;
}

#Medication .form-block {
	background-color: #6d944a;
}

.required {
	color: red;
	font-weight: bold;
	font-size: large;
}

.clinical-advancedcareplan-text,
.clinical-aki-div,
.clinical-dnar-span,
.clinical-mar-span,
.discharge-different-address,
.medication-tto-button,
.medication-change-button,
.therapycare-social-care-div,
.therapycare-social-services-div,
.therapycare-equipment-div,
.ward {
	display: none;
}

.clinical-dnar-span,
.clinical-mar-span
{
	margin-left: 4px;
}

textarea {
	resize: vertical;
}
